<% for column in Category.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @category.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @category %> |
<%= link_to 'Back', :action => 'list' %>
