/*

  Imported by many.
  Variables and Mixins Only.

*/


$darkest_gray:    #42413E;

$dark_gray:       #515252;

$warm_gray:       #79776B;

$light_gray:      #B9B9AF;

$lighter_gray:    #D9D9D9;

$pale_gray:       #DDDBD1;

$cool_gray:       #ECF0F1;

$orange:          #F15A22;

$light_orange:    #F27242;

$dark_orange:     #dc4b16;

$warm_white:      #E7E4DA;

$off_white:       #F4F7F8;

$light_blue:      #CDD9E3;

$bright_blue:     #1181BB;

$blue:            #3c5a96;

$yellow:          #fec825;

$gold:            #FED55A;

$orange_gold:     #f6bb42;

$green:           #138668;

$pale_green:      #89ad8c;

$pale_plum:       #867e8d;

$hot_pink:        #FF3755;

$error:           #DE240B;
