<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <title>GraceList</title>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag "styles", :media => "all" %>
  <%= javascript_include_tag  :defaults %>
</head>
<body>

<div id="header">
	<div class="links">
		<%= link_to 'Home', { :controller => 'posts', :action => 'index' } %> | 
		<%= link_to 'About GraceList', { :controller => 'posts', :action => 'about' } %> | 
		<a href="http://www.gracepointonline.org/gracewiki">Back to GraceWiki</a>
		<% if Post.recent_items > 0 %>
			<div class="emailUpdate">Next email will be sent on <%= next_newsletter_update.strftime('%A, %b %d, %I:%M%p') %></div>
		<% end %>
	</div>
	<div class="title">
		<h1><%= link_to 'GraceList', { :controller => 'posts', :action => 'index' } %></h1>
		<h2>Community Bulletin Board</h2>
	</div>
</div>

<div id="main">
	<p id="flash" style="color: green"><%= flash[:notice] %></p>	
	<%= "<h2 class=\"title\">#{@page_title}</h2>" if @page_title %>
	<%= @content_for_layout %>
</div>

<div id="footer">
  <div class="floatLeft">
    Questions? Email <%= mail_to 'conrad.chu@gpmail.org', nil, :encode => 'javascript' %>.
  </div>
  <div class="floatRight">
    Submit bugs to <a href="http://trac.gracepointonline.org/">GraceTrac</a>.
  </div>
</div>

</body>
</html>
